body {
    font-family: Helvetica, Arial, sans-serif;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

/* Styling for header section*/
header {
    width: 850px;
}

.hero {
    background-color: #4b5b9e;
    height: 310px;
}

.headshot {
    width: 175px;
    position: relative;
    top: 170px;
    left: 15px;
    border-radius: 3px;
}

h1 {
    color: white;
    font-weight: 500;
    font-size: 24px;
    margin-top: 0;
}

h2 {
    color: white;
    font-weight: 100;
    font-size: 18px;
}

.page-title {
    position: relative;
    left: 210px;
    top: 50px;
}

.utility {
    text-align: right;
    margin-right: 15px;
    margin-top: 25px;
}

.btn {
    font-size: 13px;
    padding: 5px 10px;
    margin-left: 0px;
    margin-right: 0px;
}

#like {
    margin-right: 5px;
    border-radius: 4px;
}

#follow {
    border-radius: 4px 0px 0px 4px;
    color: grey;
}

#ellipsis {
    border-radius: 0px 4px 4px 0px;
}

.icon-left {
    padding-right: 10px;
}

.icon-right {
    padding-left: 5px;
}

nav {
    box-shadow: 0px 1px 3px grey;
    padding: 1px;
}

ul {
    margin-left: 150px;
}

.tabs {
    list-style-type: none;
    display: inline;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    font-weight: 200;
}

#welcome {
    border-left-style: solid;
    border-right-style: solid;
    border-width: thin;
    border-color: lightgray;
}

#fwb {
    border-right-style: solid;
    border-width: thin;
    border-color: lightgray;
}

/* Styling for main section*/

h3 {
    padding-left: 10px;
    padding-top: 10px;
    margin: 0px;
    color: black;
    font-size: 16px;
    font-weight: 600;
}

h4 {
    padding-left: 10px;
    padding-top: 10px;
    margin: 0px;
    color: #4b5b9e;
    font-size: 16px;
    font-weight: 600;
}

.card-left {
    padding: 0px;
    position: relative;
    top: 10px;
    width: 328px;
    border-radius: 3px;
    box-shadow: 0px 1px 3px grey;
}

.card-aboutPage-top {
    height: 25px;
}

.card-aboutPage-middle {
    height: 110px;
    border-top: solid;
    border-bottom: solid;
    border-width: thin;
    border-color: lightgray;
    font-size: 16px;
    color: #4b5b9e;
}

.card-paragraph {
    padding-left: 10px;
}

.card-aboutPage-bottom {
    height: 35px;
    color: #4b5b9e;
}

#icon-globe {
    padding-right: 10px;
    color: gray;
}

.card-right {
    width: 512px;
    position: relative;
    bottom: 162px;
    left: 338px;
    border-radius: 3px;
    box-shadow: 0px 1px 3px grey;
}

.card-coverPhoto-top {
    padding: 10px;
    display: flex;
    height: 50px;
}

.thumbnail {
    background-color: #4b5b9e;
    height: 40px;
    width: 40px;
}

.purpleText {
    color:  #4b5b9e;
}

figcaption {
    font-size: 12px;
    padding-left: 10px;
    padding-top: 5px;
    color: gray;
}

#icon-earth {
    padding-left: 5px;
    color: gray;
}

.card-coverPhoto-middle {
    height: 190px;
    border-bottom: solid;
    border-color: lightgray;
    border-width: thin;
}

.coverPhoto {
    background-color: #4b5b9e;
    height: 185px;
    width: 500px;
    margin-left: 6px;
}

.card-coverPhoto-bottom {
    color:  #4b5b9e;
    font-size: 12px;
    height: 25px;
    margin-left: 10px;
}